

img {
  width: 200px;
  height: 200px;
}

.image.dragover{
  background-color: yellow;
}

.hidden {
  display: none
}

.show {
	display: inline
}


h1 {
	font-family: 'Crimson Text', serif;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 50px;
	font-size: 24pt;
}

h2 {
	font-family: 'Crimson Text', serif;
	line-height: 1.5;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 50px;
	font-size: 20pt;
}

.nextLink {
	background: rgb(245,255,192);
	margin-left: 50px;
	border: 1px outset black;
	padding: 7px;
	color: black;
	font-family: 'Montserrat';
	font-size: 18pt;
}

.textBlocks {
	font-family: 'Crimson Text', serif;
	line-height: 1.5;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 50px;
	font-size: 15pt;
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 0.3rem;
  padding: 0.3rem;
  position: fixed;
  top:150px; 
  left: 200px;
  width: 480px;
  height: 240px;
  border-style: dotted;

}

.item {
  display: inline-flex;
  margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
